<nav>
  <ul>
      <li><h3><a href="#">Navbar</a></h3></li>
      <li><a href="/products">Home</a></li>
      <li><a href="#">Products</a></li>
      <li><a href="/products/new">Add New Product</a></li>
  </ul>
</nav>