<%- include("../partials/header")%>
    <%- include("../partials/navbar")%>

        <main id="form">
            <form action="/register" method="POST">
                <legend for="username">UserName</legend>
                <input type="text" name="username" id="username" placeholder="Enter UserName" required><br><br>
                <legend for="email">Email</legend>
                <input type="email" name="email" id="email" placeholder="Enter Email" required><br><br>
                <legend for="password">Password</legend>
                <input type="password" name="password" id="password" placeholder="Enter Password"><br><br>
                <button type="submit">SignUp</button>
            </form>
        </main>

        <%- include("../partials/footer")%>